## 0. Read the Documentation to have a better understanding of the data.

1. There are six data resources, including `films`, `people`, `planets`,  `species`, `starships` and `vehicles`. We could use different tables to store these data.  
2. Responses are in Json format, where we could get attributes of the `films`, `people` etc.

In [3]:
# install the required modules
! pip install requests pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /Users/zoe/Library/Python/3.8/lib/python/site-packages (2.5.0)
Requirement already satisfied: pandas in /Users/zoe/Library/Python/3.8/lib/python/site-packages (2.0.3)
Requirement already satisfied: swapi in /Users/zoe/Library/Python/3.8/lib/python/site-packages (0.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/zoe/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/zoe/Library/Python/3.8/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/zoe/Library/Python/3.8/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/zoe/Library/Python/3.8/lib/python/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six==1.8.0 in /Users/zoe/Library/Python/3.8/lib/python/site-packages (from swapi) (1.8.0)
Requirement already satisfied: ujson==1.33 in /Users/zoe/Library/Python/3.8/lib/python/site-packages (from swapi) (1.33)

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

In [2]:
# import the required modules
import sqlite3
import requests
import pandas as pd

## 1. Store the Star Wars data using API
1. Define the data schema for relevant database and tables.
2. Get the data from the Star Wars API and store them in the tables.

In [19]:
# define the data schmea and write relevant SQL statements according to the documentation
create_tables = ['''
CREATE TABLE IF NOT EXISTS people (
    name TEXT PRIMARY KEY,
    birth_year TEXT,
    eye_color TEXT,
    gender TEXT,
    hair_color TEXT,
    height TEXT,
    mass TEXT,
    skin_color TEXT,
    homeworld TEXT,
    url TEXT,
    created TEXT,
    edited TEXT
);
''',
'''
CREATE TABLE IF NOT EXISTS films (
    title TEXT PRIMARY KEY,
    episode_id INTEGER,
    opening_crawl TEXT,
    director TEXT,
    producer TEXT,
    release_date DATE,
    url TEXT,
    created TEXT,
    edited TEXT
);
''',
'''
CREATE TABLE IF NOT EXISTS starships (
    name TEXT PRIMARY KEY,
    model TEXT,
    starship_class TEXT,
    manufacturer TEXT,
    cost_in_credits TEXT,
    length TEXT,
    crew TEXT,
    passengers TEXT,
    max_atmosphering_speed TEXT,
    hyperdrive_rating TEXT,
    MGLT TEXT,
    cargo_capacity TEXT,
    consumables TEXT,
    url TEXT,
    created TEXT,
    edited TEXT
);
''',
'''
CREATE TABLE IF NOT EXISTS vehicles (
    name TEXT PRIMARY KEY,
    model TEXT,
    vehicle_class TEXT,
    manufacturer TEXT,
    length TEXT,
    cost_in_credits TEXT,
    crew TEXT,
    passengers TEXT,
    max_atmosphering_speed TEXT,
    cargo_capacity TEXT,
    consumables TEXT,
    url TEXT,
    created TEXT,
    edited TEXT
);
''',
'''
CREATE TABLE IF NOT EXISTS species (
    name TEXT PRIMARY KEY,
    average_height TEXT,
    average_lifespan TEXT,
    classification TEXT,
    designation TEXT,
    eye_colors TEXT,
    hair_colors TEXT,
    homeworld TEXT,
    language TEXT,
    skin_colors TEXT,
    url TEXT,
    created TEXT,
    edited TEXT
);
''',
'''
CREATE TABLE IF NOT EXISTS planets (
    name TEXT PRIMARY KEY,
    diameter TEXT,
    rotation_period TEXT,
    orbital_period TEXT,
    gravity TEXT,
    population TEXT,
    climate TEXT,
    terrain TEXT,
    surface_water TEXT,
    url TEXT,
    created TEXT,
    edited TEXT
);
'''
]

In [21]:
# connect to the database
conn = sqlite3.connect('swapi.db')
c = conn.cursor()

# create relevant tables
for sql_statement in create_tables:
    c.execute(sql_statement)

conn.commit()