## 0. Understanding Data

In [2]:
# import required modules
import sqlite3
import pandas as pd

In [3]:
# create a connection 
conn = sqlite3.connect('star_wars.db')

In [22]:
# take a look at the stored tables
tables = ['people', 'films', 'starships', 'vehicles', 'species', 'planets']

for table in tables:
    display(pd.read_sql(f'SELECT * FROM {table} LIMIT 5', conn))

,name,birth_year,eye_color,gender,hair_color,height,mass,skin_color,homeworld,films,species,starships,vehicles,url,created,edited
0,Luke Skywalker,19BBY,blue,male,blond,172,77,fair,https://swapi.dev/api/planets/1/,"[""https://swapi.dev/api/films/1/"", ""https://sw...",[],"[""https://swapi.dev/api/starships/12/"", ""https...","[""https://swapi.dev/api/vehicles/14/"", ""https:...",https://swapi.dev/api/people/1/,2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z
1,C-3PO,112BBY,yellow,n/a,n/a,167,75,gold,https://swapi.dev/api/planets/1/,"[""https://swapi.dev/api/films/1/"", ""https://sw...","[""https://swapi.dev/api/species/2/""]",[],[],https://swapi.dev/api/people/2/,2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z
2,R2-D2,33BBY,red,n/a,n/a,96,32,"white, blue",https://swapi.dev/api/planets/8/,"[""https://swapi.dev/api/films/1/"", ""https://sw...","[""https://swapi.dev/api/species/2/""]",[],[],https://swapi.dev/api/people/3/,2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z
3,Darth Vader,41.9BBY,yellow,male,none,202,136,white,https://swapi.dev/api/planets/1/,"[""https://swapi.dev/api/films/1/"", ""https://sw...",[],"[""https://swapi.dev/api/starships/13/""]",[],https://swapi.dev/api/people/4/,2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z
4,Leia Organa,19BBY,brown,female,brown,150,49,light,https://swapi.dev/api/planets/2/,"[""https://swapi.dev/api/films/1/"", ""https://sw...",[],[],"[""https://swapi.dev/api/vehicles/30/""]",https://swapi.dev/api/people/5/,2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z

,title,episode_id,opening_crawl,director,producer,release_date,species,starships,vehicles,characters,planets,url,created,edited
0,A New Hope,4,It is a period of civil war.\r\nRebel spaceshi...,George Lucas,"Gary Kurtz, Rick McCallum",1977-05-25,"[""https://swapi.dev/api/species/1/"", ""https://...","[""https://swapi.dev/api/starships/2/"", ""https:...","[""https://swapi.dev/api/vehicles/4/"", ""https:/...","[""https://swapi.dev/api/people/1/"", ""https://s...","[""https://swapi.dev/api/planets/1/"", ""https://...",https://swapi.dev/api/films/1/,2014-12-10T14:23:31.880000Z,2014-12-20T19:49:45.256000Z
1,The Empire Strikes Back,5,It is a dark time for the\r\nRebellion. Althou...,Irvin Kershner,"Gary Kurtz, Rick McCallum",1980-05-17,"[""https://swapi.dev/api/species/1/"", ""https://...","[""https://swapi.dev/api/starships/3/"", ""https:...","[""https://swapi.dev/api/vehicles/8/"", ""https:/...","[""https://swapi.dev/api/people/1/"", ""https://s...","[""https://swapi.dev/api/planets/4/"", ""https://...",https://swapi.dev/api/films/2/,2014-12-12T11:26:24.656000Z,2014-12-15T13:07:53.386000Z
2,Return of the Jedi,6,Luke Skywalker has returned to\r\nhis home pla...,Richard Marquand,"Howard G. Kazanjian, George Lucas, Rick McCallum",1983-05-25,"[""https://swapi.dev/api/species/1/"", ""https://...","[""https://swapi.dev/api/starships/2/"", ""https:...","[""https://swapi.dev/api/vehicles/8/"", ""https:/...","[""https://swapi.dev/api/people/1/"", ""https://s...","[""https://swapi.dev/api/planets/1/"", ""https://...",https://swapi.dev/api/films/3/,2014-12-18T10:39:33.255000Z,2014-12-20T09:48:37.462000Z
3,The Phantom Menace,1,Turmoil has engulfed the\r\nGalactic Republic....,George Lucas,Rick McCallum,1999-05-19,"[""https://swapi.dev/api/species/1/"", ""https://...","[""https://swapi.dev/api/starships/31/"", ""https...","[""https://swapi.dev/api/vehicles/33/"", ""https:...","[""https://swapi.dev/api/people/2/"", ""https://s...","[""https://swapi.dev/api/planets/1/"", ""https://...",https://swapi.dev/api/films/4/,2014-12-19T16:52:55.740000Z,2014-12-20T10:54:07.216000Z
4,Attack of the Clones,2,There is unrest in the Galactic\r\nSenate. Sev...,George Lucas,Rick McCallum,2002-05-16,"[""https://swapi.dev/api/species/1/"", ""https://...","[""https://swapi.dev/api/starships/21/"", ""https...","[""https://swapi.dev/api/vehicles/4/"", ""https:/...","[""https://swapi.dev/api/people/2/"", ""https://s...","[""https://swapi.dev/api/planets/1/"", ""https://...",https://swapi.dev/api/films/5/,2014-12-20T10:57:57.886000Z,2014-12-20T20:18:48.516000Z

,name,model,starship_class,manufacturer,cost_in_credits,length,crew,passengers,max_atmosphering_speed,hyperdrive_rating,MGLT,cargo_capacity,consumables,films,pilots,url,created,edited
0,CR90 corvette,CR90 corvette,corvette,Corellian Engineering Corporation,3500000,150,30-165,600,950,2.0,60,3000000,1 year,"[""https://swapi.dev/api/films/1/"", ""https://sw...",[],https://swapi.dev/api/starships/2/,2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z
1,Star Destroyer,Imperial I-class Star Destroyer,Star Destroyer,Kuat Drive Yards,150000000,"1,600","47,060",n/a,975,2.0,60,36000000,2 years,"[""https://swapi.dev/api/films/1/"", ""https://sw...",[],https://swapi.dev/api/starships/3/,2014-12-10T15:08:19.848000Z,2014-12-20T21:23:49.870000Z
2,Sentinel-class landing craft,Sentinel-class landing craft,landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,5,75,1000,1.0,70,180000,1 month,"[""https://swapi.dev/api/films/1/""]",[],https://swapi.dev/api/starships/5/,2014-12-10T15:48:00.586000Z,2014-12-20T21:23:49.873000Z
3,Death Star,DS-1 Orbital Battle Station,Deep Space Mobile Battlestation,"Imperial Department of Military Research, Sien...",1000000000000,120000,"342,953","843,342",n/a,4.0,10,1000000000000,3 years,"[""https://swapi.dev/api/films/1/""]",[],https://swapi.dev/api/starships/9/,2014-12-10T16:36:50.509000Z,2014-12-20T21:26:24.783000Z
4,Millennium Falcon,YT-1300 light freighter,Light freighter,Corellian Engineering Corporation,100000,34.37,4,6,1050,0.5,75,100000,2 months,"[""https://swapi.dev/api/films/1/"", ""https://sw...","[""https://swapi.dev/api/people/13/"", ""https://...",https://swapi.dev/api/starships/10/,2014-12-10T16:59:45.094000Z,2014-12-20T21:23:49.880000Z

,name,model,vehicle_class,manufacturer,length,cost_in_credits,crew,passengers,max_atmosphering_speed,cargo_capacity,consumables,films,pilots,url,created,edited
0,Sand Crawler,Digger Crawler,wheeled,Corellia Mining Corporation,36.8,150000,46,30,30,50000,2 months,"[""https://swapi.dev/api/films/1/"", ""https://sw...",[],https://swapi.dev/api/vehicles/4/,2014-12-10T15:36:25.724000Z,2014-12-20T21:30:21.661000Z
1,T-16 skyhopper,T-16 skyhopper,repulsorcraft,Incom Corporation,10.4,14500,1,1,1200,50,0,"[""https://swapi.dev/api/films/1/""]",[],https://swapi.dev/api/vehicles/6/,2014-12-10T16:01:52.434000Z,2014-12-20T21:30:21.665000Z
2,X-34 landspeeder,X-34 landspeeder,repulsorcraft,SoroSuub Corporation,3.4,10550,1,1,250,5,unknown,"[""https://swapi.dev/api/films/1/""]",[],https://swapi.dev/api/vehicles/7/,2014-12-10T16:13:52.586000Z,2014-12-20T21:30:21.668000Z
3,TIE/LN starfighter,Twin Ion Engine/Ln Starfighter,starfighter,Sienar Fleet Systems,6.4,unknown,1,0,1200,65,2 days,"[""https://swapi.dev/api/films/1/"", ""https://sw...",[],https://swapi.dev/api/vehicles/8/,2014-12-10T16:33:52.860000Z,2014-12-20T21:30:21.670000Z
4,Snowspeeder,t-47 airspeeder,airspeeder,Incom corporation,4.5,unknown,2,0,650,10,none,"[""https://swapi.dev/api/films/2/""]","[""https://swapi.dev/api/people/1/"", ""https://s...",https://swapi.dev/api/vehicles/14/,2014-12-15T12:22:12Z,2014-12-20T21:30:21.672000Z

,name,average_height,average_lifespan,classification,designation,eye_colors,hair_colors,homeworld,language,skin_colors,people,films,url,created,edited
0,Human,180,120,mammal,sentient,"brown, blue, green, hazel, grey, amber","blonde, brown, black, red",https://swapi.dev/api/planets/9/,Galactic Basic,"caucasian, black, asian, hispanic","[""https://swapi.dev/api/people/66/"", ""https://...","[""https://swapi.dev/api/films/1/"", ""https://sw...",https://swapi.dev/api/species/1/,2014-12-10T13:52:11.567000Z,2014-12-20T21:36:42.136000Z
1,Droid,n/a,indefinite,artificial,sentient,n/a,n/a,None,n/a,n/a,"[""https://swapi.dev/api/people/2/"", ""https://s...","[""https://swapi.dev/api/films/1/"", ""https://sw...",https://swapi.dev/api/species/2/,2014-12-10T15:16:16.259000Z,2014-12-20T21:36:42.139000Z
2,Wookie,210,400,mammal,sentient,"blue, green, yellow, brown, golden, red","black, brown",https://swapi.dev/api/planets/14/,Shyriiwook,gray,"[""https://swapi.dev/api/people/13/"", ""https://...","[""https://swapi.dev/api/films/1/"", ""https://sw...",https://swapi.dev/api/species/3/,2014-12-10T16:44:31.486000Z,2014-12-20T21:36:42.142000Z
3,Rodian,170,unknown,sentient,reptilian,black,n/a,https://swapi.dev/api/planets/23/,Galatic Basic,"green, blue","[""https://swapi.dev/api/people/15/""]","[""https://swapi.dev/api/films/1/""]",https://swapi.dev/api/species/4/,2014-12-10T17:05:26.471000Z,2014-12-20T21:36:42.144000Z
4,Hutt,300,1000,gastropod,sentient,"yellow, red",n/a,https://swapi.dev/api/planets/24/,Huttese,"green, brown, tan","[""https://swapi.dev/api/people/16/""]","[""https://swapi.dev/api/films/1/"", ""https://sw...",https://swapi.dev/api/species/5/,2014-12-10T17:12:50.410000Z,2014-12-20T21:36:42.146000Z

,name,diameter,rotation_period,orbital_period,gravity,population,climate,terrain,surface_water,residents,films,url,created,edited
0,Tatooine,10465,23,304,1 standard,200000,arid,desert,1,"[""https://swapi.dev/api/people/1/"", ""https://s...","[""https://swapi.dev/api/films/1/"", ""https://sw...",https://swapi.dev/api/planets/1/,2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z
1,Alderaan,12500,24,364,1 standard,2000000000,temperate,"grasslands, mountains",40,"[""https://swapi.dev/api/people/5/"", ""https://s...","[""https://swapi.dev/api/films/1/"", ""https://sw...",https://swapi.dev/api/planets/2/,2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z
2,Yavin IV,10200,24,4818,1 standard,1000,"temperate, tropical","jungle, rainforests",8,[],"[""https://swapi.dev/api/films/1/""]",https://swapi.dev/api/planets/3/,2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z
3,Hoth,7200,23,549,1.1 standard,unknown,frozen,"tundra, ice caves, mountain ranges",100,[],"[""https://swapi.dev/api/films/2/""]",https://swapi.dev/api/planets/4/,2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z
4,Dagobah,8900,23,341,N/A,unknown,murky,"swamp, jungles",8,[],"[""https://swapi.dev/api/films/2/"", ""https://sw...",https://swapi.dev/api/planets/5/,2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z

1. Findings:
    - To join these tables, we need to parse the links in the relevant column.
    - For example, for the table `people`, a single person might appear in several movies, which is an array: `"https://swapi.dev/api/films/1/", "https://sw...`
2. Temporary Solution:
    - Add a column named `unique_id` could be extracted from `url` column.
    - As `homeworld` column only contains a single link, we could get the `planet_id` to join tables.
3. Solution:
    - For sqlite3, the data type does not support lists, so we could shift to PostgreSQL to do the future data analysis.

In [23]:
#create unique_id column for each table
for table in tables:
    with sqlite3.connect('star_wars.db') as conn:
        c = conn.cursor()

        create_column_sql = f"alter table {table} add column unique_id int;"
        update_sql = f"update {table} set unique_id = substr(url, length(url) - 3, instr(substr(url, length(url) - 3), '/') - 1);"
        
        c.execute(create_column_sql)
        c.execute(update_sql)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/bg/px1wxjwx6dz5w5214_zfxwx40000gn/T/ipykernel_36002/3122382455.py", line 5, in <module>
    c.execute(f"""
sqlite3.OperationalError: no such column: unique_id

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/IPython/core/ultratb.py", line 1396, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/IPython/core/ultratb.py", line 1287, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/IPython/core/ultratb.py", line 1140, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/IPython/core/ultratb.py", line 1055, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/IPython/core/ultratb.py", line 955, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/IPython/core/ultratb.py", line 778, in lines
    return self._sd.lines
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/stack_data/core.py", line 677, in included_pieces
    scope_pieces = self.scope_pieces
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/stack_data/core.py", line 614, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/stack_data/core.py", line 178, in line_range
    return line_range(self.asttext(), node)
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/executing/executing.py", line 428, in asttext
    self._asttext = ASTText(self.text, tree=self.tree, filename=self.filename)
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/asttokens/asttokens.py", line 305, in __init__
    super(ASTText, self).__init__(source_text, filename)
  File "/Users/zoe/Library/Python/3.8/lib/python/site-packages/asttokens/asttokens.py", line 47, in __init__
    source_text = six.ensure_text(source_text)
AttributeError: module 'six' has no attribute 'ensure_text'

## 1. Required SQL analysis

In [18]:
pd.read_sql(
    '''
        select 
            vehicle_class,
            group_concat(model) as model,
            round(avg(length), 2) as average_length,
            count(model) as model_count
        from 
            vehicles
        group by
            vehicle_class
        order by 
            model_count desc
    ''', 
    conn
)

,vehicle_class,model,average_length,model_count
0,repulsorcraft,"T-16 skyhopper,X-34 landspeeder,Storm IV Twin-...",9.60,7
1,airspeeder,"t-47 airspeeder,Koro-2 Exodrive airspeeder,XJ-...",8.95,5
2,walker,"All Terrain Scout Transport,All Terrain Tactic...",39.60,4
3,starfighter,"Twin Ion Engine/Ln Starfighter,Twin Ion Engine...",7.33,4
4,speeder,"74-Z speeder bike,FC-20 speeder bike,Flitknot ...",2.17,3
5,wheeled walker,"Tsmeu-6 personal wheel bike,HAVw A6 Juggernaut",26.45,2
6,gunship,"Low Altitude Assault Transport/infrantry,Low A...",23.11,2
7,wheeled,Digger Crawler,36.80,1
8,transport,Sheathipede-class transport shuttle,20.00,1
9,submarine,Tribubble bongo,15.00,1
10,space/planetary bomber,TIE/sa bomber,7.80,1
11,sail barge,Modified Luxury Sail Barge,30.00,1
12,repulsorcraft cargo skiff,Bantha-II,9.50,1
13,landing craft,C-9979 landing craft,210.00,1
14,fire suppression ship,Fire suppression speeder,0.00,1
15,droid tank,NR-N99 Persuader-class droid enforcer,10.96,1
16,droid starfighter,tri-fighter,5.40,1
17,assault walker,All Terrain Armored Transport,20.00,1
18,air speeder,Raddaugh Gnasp fluttercraft,7.00,1

In [ ]:
pd.read_sql(
    '''
        SELECT 
            *
        FROM 
            people
    ''', 
    conn
)